# üèÄ NBA Team Points Prediction Model
üôã **authors**: szymond44, gwiazdan  
üìÜ **date**: 21-07-2025

In [12]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..', 'src')))

import pandas as pd

In [10]:
%load_ext autoreload
%autoreload 2
from data.api_fetcher import ApiFetcher

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## ‚ú® Introduction

-- todo --

## Sandbox
-- na razie do testowania api --

In [14]:
api = ApiFetcher()
list = api.teams

df = pd.DataFrame(list)
print(df.head())

print("123")

           id             full_name abbreviation   nickname         city  \
0  1610612737         Atlanta Hawks          ATL      Hawks      Atlanta
1  1610612738        Boston Celtics          BOS    Celtics       Boston
2  1610612739   Cleveland Cavaliers          CLE  Cavaliers    Cleveland
3  1610612740  New Orleans Pelicans          NOP   Pelicans  New Orleans
4  1610612741         Chicago Bulls          CHI      Bulls      Chicago

           state  year_founded
0        Georgia          1949
1  Massachusetts          1946
2           Ohio          1970
3      Louisiana          2002
4       Illinois          1966
123